.sidebar{

width:270px;

height:100vh;

background:linear-gradient(180deg,#14532D,#1B5E20,#2E7D32);

position:fixed;

left:0;

top:0;

display:flex;

flex-direction:column;

justify-content:space-between;

padding:30px 20px;

box-shadow:6px 0 25px rgba(0,0,0,.15);

}

.logo{

display:flex;

align-items:center;

gap:15px;

margin-bottom:50px;

}

.logo-icon{

font-size:42px;

}

.logo h2{

color:white;

font-size:28px;

}

.logo p{

color:#C8E6C9;

font-size:14px;

margin-top:5px;

}

.menu{

display:flex;

flex-direction:column;

gap:18px;

}

.menu a{

display:flex;

align-items:center;

gap:15px;

padding:15px 18px;

border-radius:14px;

text-decoration:none;

color:white;

font-size:17px;

font-weight:500;

transition:.35s;

}

.menu a svg{

font-size:23px;

}

.menu a:hover{

background:rgba(255,255,255,.18);

transform:translateX(8px);

}

.menu .active{

background:white;

color:#1B5E20;

font-weight:700;

box-shadow:0 10px 25px rgba(0,0,0,.2);

}

.bottom{

display:flex;

flex-direction:column;

gap:15px;

}

.bottom button{

background:#EF5350;

color:white;

border:none;

padding:15px;

border-radius:14px;

font-size:17px;

cursor:pointer;

display:flex;

align-items:center;

justify-content:center;

gap:10px;

transition:.3s;

}

.bottom button:hover{

background:#D32F2F;

transform:translateY(-4px);

}

.bottom p{

color:#E8F5E9;

text-align:center;

font-size:14px;

}