# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Node
node_modules/

# Environment
.env

# Uploaded Images
uploads/

# AI Models
*.keras
*.h5

# Large Datasets
dataset/
datasets/
PlantVillage/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db